<div class="uk-card uk-card-default uk-card-body rounded-card uk-margin-small-top">
  <div uk-grid class="uk-margin-bottom">
    <div class="uk-width-1-2">
      <h3 class="uk-card-title">Power</h3>
    </div>
  </div>
  <div [ngClass]="{'light-grid': !onMobile, 'light-grid-mobile': onMobile}">
    <app-circle-button *ngFor="let group of groups" [id]="transformId(group.id)" [label]="group.name" [level]="group.power == 'on' ? 1 : 0"
      [onMobile]="onMobile" (touched)="groupButtonPressed(group)"></app-circle-button>
  </div>
  <hr class="uk-margin-small-top uk-margin-small-bottom">
  <div [ngClass]="{'light-grid': !onMobile, 'light-grid-mobile': onMobile}">
    <app-circle-button *ngFor="let light of lights" [id]="light.id" [label]="light.name" [level]="light.power == 'on' ? light.brightness : 0"
      [onMobile]="onMobile" (touched)="lightButtonPressed(light)"></app-circle-button>
  </div>
</div>